html, body {
    margin: 0;
    min-width: 100%;
    height: 100%;    
}

h2 {
    margin: 0;
    margin-top: 0.2em;
    margin-bottom: 0.3em;
}

h4 {
    margin: 0;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}

#options {
    padding: 1em;
    align-items: flex-start;
}

#cookieSettingsBlock1 {
    justify-content: space-between;
    align-items: baseline;
    align-self: stretch;
}

#cookiesForPreload {
    align-self: stretch;
}

#save-block {
    align-items: baseline;
    margin-top: 0.2em;
}

#save {
    font-size: large;
}

.save-failed {
    color: darkred;
}
