:root {
    --background-color: white;
    --element-background-color: white;
    --element-highlight-background-color: rgb(200, 200, 200);
    --text-color: black;

    --link-unclicked: blue;
    --link-active: red;
    --link-visited: rgb(85, 26, 139);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(74, 74, 74);
        --element-background-color: rgba(0, 0, 0, 0.1);
        --element-highlight-background-color: rgb(50, 50, 50);
        --text-color: rgb(245, 245, 245);
        --link-unclicked: #00bfbf;
        --link-active: darkorange;
        --link-visited: rgb(209, 159, 255);
    }
}

html {
    background-color: var(--background-color);
    color: var(--text-color);
}

a, button {
    cursor: pointer;
}

a:link {
    color: var(--link-unclicked);
}

a:active {
    color: var(--link-active);
}

a:visited {
    color: var(--link-visited);
}

input, button, textarea {
    background-color: var(--element-background-color);
    color: var(--text-color);
    border-radius: 3px;
	padding: 1px;
}

button, textarea {
    border: 1px solid lightgray;
}

button {
    padding: 0.2em 0.4em;
}

button:hover {
	background-color: var(--element-highlight-background-color);
}

button:focus {
	border-style: dashed;
}

.flex-container {
    display: flex;
}

.flex-container-v {
    display: flex;
    flex-direction: column;
}

.flex-child-autogrow {
    flex: 1 1 auto;
}

.flex-child-contentsize {
    flex: 0 1 auto;
}
